Body {
	margin: 0;
	padding: 0;
	background-color: rgb(219,219,219) !important;
}

/*Bannner*/
#banner {
	height: 128px;
}

#logo {
	line-height: 120px;
	display: inline-block;
}

#social_media {
	display: inline-block;
	float: right;
	line-height: 120px;
}

#social_media img {
	width: 30px;
	height: 30px;
	transition: opacity 0.1s;
}

#social_media img:hover {
	opacity: 0.7;
	transition: opacity 0.1s;
}

/*Navigation bar*/
.navbar{
	background-color: rgba(14,41,54,1);
	border-bottom: 1px solid;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link {
	color: rgba(53, 204, 120, 1);
	text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active>.nav-link:hover {
	color: rgba(53, 204, 120, 0.64);
	text-decoration: none;
}

/*Main content image for frontpage*/
#mainContentImage {
	padding: 0;
}

/*Main content area*/
#mainContent {
	background-color: white;
}



